{% extends 'index.html' %}
{% load comments %}
{% block page-content %}	
	<div class="jumbotron contents">

		<h4>{{ bbs.title }}</h4>
		<p>{{ bbs.author }}</p>
		{{ bbs.content|safe}}<br>

		<hr>
		{% get_comment_count for bbs as comment_count %}
			<span class="glyphicon glyphicon-comment"></span> {{ comment_count }}

		<hr>		
		{% if user.is_authenticated %} 
		    <form action="/sub_comment/" method="POST">
			    {% csrf_token %}
			    <textarea cols=80 rows=3 name="comment_comment"></textarea>
			    <input type="hidden" name="bbs_id" value="{{bbs.id}}" /><br>
			    <input type="submit" name="Add comment" id = "id_submit" value="确定"/>
		    </form>

		{% else %}
			<p>如果要评论，请<input type="button" id="comment_login" value="登录" ></p>
			<div id="loginform" class="login_form" >
				<form action="">
					{% csrf_token %}
					<span>用户名：</span><input id='username' type="text" name="username" size=20><br>
					<span>密  码：</span><input id='password' type="password" name="password" size=20>					
				</form>
				<input id="logint" type="button" name="comment_submit" value="确定">
			</div>
		{% endif %}		
		<br><br>
		{% get_comment_list for bbs as comment_list %}
		{% for comment in comment_list reversed %}
			{{ comment.submit_date }}
			<br>
			{{ comment.comment }}
			<hr>
		{% endfor %}
	</div>	
	{% block pagination %}
      <span></span>
    {% endblock %}



{% endblock %}