{% extends 'index.html' %}
{% load comments %}
{% block page-content %}
	
	<div class="jumbotron contents">

		<h4>{{ bbs.title }}</h4>
		<p>{{ bbs.author }}</p>
		{{ bbs.content }}<br>

		<hr>
		{% get_comment_count for bbs as comment_count %}
			{{ comment_count }}

		<hr>		
		    
		    <form action="/sub_comment/" method="POST">
			    {% csrf_token %}
			    <textarea  cols=80 rows=3 name="comment_comment"></textarea>
			    <input type="hidden" name="bbs_id" value="{{bbs.id}}" /><br>
			    <input type="submit" name="Add comment" id = "id_submit" />
		    </form>
		

		
		<br><br>
		{% get_comment_list for bbs as comment_list %}
		{% for comment in comment_list reversed %}
			{{ comment.submit_date }}
			<br>
			{{ comment.comment }}
			<hr>
		{% endfor %}
	</div>	



{% endblock %}