<!-- <!DOCTYPE html> -->
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>BBS</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet" >
    <!-- Custom styles for this template -->
    <link href="/static/navbar-static-top.css" rel="stylesheet">
    <link href="/static/self.css" rel="stylesheet">
    <link href="/static/form.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">抽屉</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">全部</a></li>
            {% for categray in categray_list %}
            <!-- {% print categray.id code_id %} -->
            {% ifequal categray.id code_id %}            
              <li class="active"><a href="/categray/{{categray.id}}/">{{categray.name}}</a></li>
            {% else %}
              <li class=""><a href="/categray/{{categray.id}}/">{{categray.name}}</a></li>
            {% endifequal %}

            {% endfor %}
           
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                {{ user.username }}
                {% else %}
                登录
                {% endif %}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/login/">login</a></li>
                <li><a href="/logout/">logout</a></li> 
                <li><a href="/bbs_pub/">Publish bbs</a></li>              
              </ul>
            </li>
            <!-- <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Fixed top</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container center-container-hx">
      {% block page-content %}
      <!-- Main component for a primary marketing message or call to action -->
        {% for bbs in bbs_list %}
        <div class="jumbotron contents">
          
          <h4><a href = "/detail/{{bbs.id}}">{{ bbs.title }}</a></h4>
          <p>{{ bbs.author }}</p>
          
        </div>
        {% endfor %}
      {% endblock %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
