{% include 'head.html' %}
<div class="container center-container-hx">
{% block page-content %}
	<div>
	
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            theme: "modern",
		    plugins: [
		        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
		        "searchreplace wordcount visualblocks visualchars code fullscreen",
		        "insertdatetime media nonbreaking save table contextmenu directionality",
		        "emoticons template paste textcolor colorpicker textpattern imagetools"
		    ],
		    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
		    toolbar2: "print preview media | forecolor backcolor emoticons",
		    image_advtab: true,
		    templates: [
		        {title: 'Test template 1', content: 'Test 1'},
		        {title: 'Test template 2', content: 'Test 2'}
		    ]
        });
    </script>
    {% if user.is_authenticated %}
	    <form method="post" style="margin-top:10px;" action="/bbs_sub/">
	    	主题：<input type="text" name='title' size=50><br>
	    	简介：<input type="text" name='summary' maxlength=200 size=100><br>
	    	内容：<textarea name="content"></textarea><br>
	    	类别：<input type="radio" name="categray_id" value="1" />技术
			<input type="radio" name="categray_id" value="2" />工作
			<input type="radio" name="categray_id" value="3" />创意<br>
	    	<input type="submit" value="提交">
	    </form>
	{% else %}
		<p>如果要发表文章，请<input type="button" id="comment_login" value="登录" ></p>
			<div id="loginform" class="login_form" >
				<form action="">
					{% csrf_token %}
					<span>用户名：</span><input id='username' type="text" name="username" size=20><br>
					<span>密  码：</span><input id='password' type="password" name="password" size=20>					
				</form>
				<input id="logint" type="button" name="comment_submit" value="确定">
			</div>
	{% endif %}
	</div>

{% endblock %}
{% block pagination %}
      <span></span>
{% endblock %}
</div>
{% include 'footer.html' %}