{% extends 'index.html' %}
{% load comments %}
{% block page-content %}
	

	<div>
	<script type="text/javascript" src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            theme: "modern",
		    plugins: [
		        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
		        "searchreplace wordcount visualblocks visualchars code fullscreen",
		        "insertdatetime media nonbreaking save table contextmenu directionality",
		        "emoticons template paste textcolor colorpicker textpattern imagetools"
		    ],
		    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
		    toolbar2: "print preview media | forecolor backcolor emoticons",
		    image_advtab: true,
		    templates: [
		        {title: 'Test template 1', content: 'Test 1'},
		        {title: 'Test template 2', content: 'Test 2'}
		    ]
        });
    </script>
    {% if user.is_authenticated %}
	    <form method="post" style="margin-top:10px;" action="/bbs_sub/">
	    	主题：<input type="text" name='title' size=50><br>
	    	简介：<input type="text" name='summary' maxlength=200 size=100><br>
	    	内容：<textarea name="content"></textarea><br>
	    	类别：<input type="radio" name="categray_id" value="1" />技术
			<input type="radio" name="categray_id" value="2" />工作
			<input type="radio" name="categray_id" value="3" />创意<br>
	    	<input type="submit" value="提交">
	    </form>
	{% else %}
		<P>Please <a href="/login/"> login</a> to publish BBS</p>
	{% endif %}
	</div>

{% endblock %}